link(rel="stylesheet", href="css/offline.scss")
.error 
  - var list = ["Page not found", "404", "Swim Home, Friend"]
  each item in list
    span= item
.sun
.clouds
  - for (var c = 0; c < 3; c++)
    div
.birds
.sea
  .wave.w-1
  .wave.w-2
  .fish
    - for (var g = 0; g < 3; g++)
      span
.bottom
  - for (var g = 0; g < 4; g++)
    .grass
      - for (var gs = 0; gs < 3; gs++)
        span 
  - for (var c = 0; c < 4; c++)
    .circle
      - for (var cc = 0; cc < 5; cc++)
        span
  - for (var gg = 0; gg < 3; gg++)
    .grass_tw

